body {
    margin: 0;
    background: linear-gradient(to bottom, #F8B195, #F67280, #C06C84,#6C5B7B,#355C7D);
    color: white;
    position: relative;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding-left: 0%;
    padding-right: 0%;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: white;
}

.div_Section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.glass-morphism {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 600px;
    
}

.glass-morphism h1 {
    margin: 0;
}

.glass-morphism p {
    margin: 10px 0;
}
.cloud {
    position: fixed;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    opacity: 0.8;
    pointer-events: none;
    transform-origin: bottom left;
    z-index: -1;
    width:350px;
    height:120px;
    background:#ECEFF1;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
}
.cloud1 {
    top: 15%;
    left: 10%;
    width: 150px;
    height: 80px;
}

.cloud2 {
    top: 25%;
    left: 40%;
    width: 200px;
    height: 100px;
}

.cloud3 {
    top: 10%;
    right: 10%;
    width: 180px;
    height: 90px;
}
.cloud4{
    bottom: 15%;
    right: 5%;
    width: 180px;
    height: 90px;
}